<p id="notice"><%= notice %></p>

<h1>Listing Magics</h1>

<table>
  <thead>
    <tr>
      <th>Spell</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @magics.each do |magic| %>
      <tr>
        <td><%= magic.spell %></td>
        <td><%= link_to 'Show', magic %></td>
        <td><%= link_to 'Edit', edit_magic_path(magic) %></td>
        <td><%= link_to 'Destroy', magic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Magic', new_magic_path %>
